@{
    Layout = "~/Views/Shared/Public.cshtml";
}

<script type="text/x-jquery-tmpl" id="verify-address-template">
    <div class="address{{ if (verified) { }} verified-address{{ } }}">
        <label>
            {{ if (verified) { }}
                    <input type="radio" class="verified" name="address-select" value="{{- json }}" />
            {{}  else { }}
                    <input type="radio" name="address-select" value="{{- json }}" />
            {{ } }}
                {{- displayString() }}
        </label>
    </div>
</script>


<div class="box" id="login-box">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", id = "login-form" }))
    {
        <div>
            <div class="title">Login</div>

        </div>
        
        @Html.ValidationSummary(true, "Incorrect username or password")

        if (ViewBag.Reset)
        {
        <p class="alert alert-success">
            Your password has been reset. Use the form below to login.
        </p>
        }
        
        @Html.Label("username", "Username", new { @style = "margin-bottom: 8px;" })
        @Html.TextBox("username", (string)ViewBag.Username, new { required = "required", id = "", tabindex = 1, autofocus = "true" })

        @Html.Label("password", "Password", new { @style = "margin-bottom: 8px;" })
        @Html.Password("password", null, new { required = "required", tabindex = 2 })
        
        <div class="fieldset">
            <label class="checkbox" style="margin-left: 18px;">
                @Html.CheckBox("rememberMe")
                Remember Me
            </label>
        </div>
        <button class="btn btn-primary" type="submit" tabindex="3">Login</button>
       
    }

    <div class="sign-up">
        <a href="#" class="register-user">Sign up now</a>
    </div>

    <div class="forgot-pass">
        @Html.ActionLink("Forgot your password?", "ForgotPassword")
    </div>



</div>

@using (Html.BeginModal("register-user", "Registeration", new { @style = "width:450px" }))
{

    using (Html.BeginForm("Index", "Accounts", FormMethod.Post))
    {
    <div id="dailog-content">


        <div id="business-message">
            Moved with us before? 
        </div>
        <div>

            @Html.Label("accountId", "Account ID", new { @style = "margin-bottom: 8px; font-weight:bold;" })
            @Html.TextBox("accountId", (string)ViewBag.Username, new { @style = " width:100%;", required = "required", id = "", tabindex = 1, autofocus = "true" })

            @Html.Label("quoteId", "Quotation ID", new { @style = "margin-bottom: 8px; font-weight:bold;" })
            @Html.TextBox("quoteId", null, new { @style = " width:100%;", required = "required", tabindex = 2 })


        </div>

        <div class="clearfix">
            <div class="end-controls">
                <input type="submit" class="btn" id="btnfirst" value="First Time" />

                <input type="submit" class="btn btn-primary" value="Proceed" id="btnproceed" />


            </div>
        </div>
        <div>
        </div>
    </div>

    }

}


<script type="text/javascript">
    (function () {
        var RegisterCustomer = {
            dialogs: { RegiserUser: "#register-user" },
            init: function () {
                Utility.initBase(this);
                $(".register-user").click(function () {

                    var dialog = RegisterCustomer.dialogs.RegiserUser;

                    dialog.modal("show");
                });
            }
        };

        $(function () {
            RegisterCustomer.init();
        });
    })();

    $(document).ready(function () {

        $("#btnfirst").click(function () {


            $("input[name=quoteId]").removeAttr('required');
            $("input[name=accountId]").removeAttr('required');

        });

        $("#btnproceed").click(function () {

            $("input[name=accountId]").attr('required', 'required');
            $("input[name=quoteId]").attr('required', 'required');
        });
    });
    document.getElementById("btnfirst").disableValidation = true;

</script>
