@model Business.ViewModels.ClaimListModel
@{
    ViewBag.Title = "NewCase";
}

<div id="addcase-success-message">
    Your case has successfully submit against your quotation.
</div>


@{
    var lookup = Request.QueryString["lookup"];//ViewContext.RouteData.Values["lookup"];
}


<div class="page-title-container clearfix">

    <span class="page-title" style="margin-left: 10px">Case Number: @Model.Caselookup</span>

</div>

<div class="container-add-claim">
    <button type="button" class="btn add-claim" title="Add New Claim">Add New Claim</button>
</div>
<div class="Case-table-container">

    <table id="claim-items" class="table-striped table-hover">
        <thead>
            <tr class="sort-col no-hover">
                <th>Inventory</th>
                <th>Claim Type</th>
                <th>Remarks</th>
                <th>Created</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @{
                if (Model.Claim != null)
                {

                    foreach (var item in Model.Claim)
                    {
               
                <tr>
                    <td>@item.Inventroy</td>
                    <td>@item.ClaimTypeDisplayName</td>
                    <td>@item.Remarks</td>
                    <td>@item.Created</td>
                    @if (!Model.CaseSubmitStatus)
                    {
                        <td><a class="edit-claim" data-id="@item.ClaimID" data-inventory="@item.Inventroy" data-remarks="@item.Remarks" data-claimtype="@item.ClaimType" href="#">Edit</a></td>
                        <td><a class='remove-claim' href='#' data-id='@item.ClaimID'><i class='icon-remove'></i></a></td>  
                    }

                </tr>
                    }
                }
            }
        </tbody>
    </table>

</div>

<div class="finalize-case">
    <input id="finalize-case"  class="@(Model.CaseSubmitStatus ? "disabled" : "") btn" data-id="@Model.CaseId" type='button' value='Submit Case' />
</div>


@using (Html.BeginModal("add-new-claim", "Add Claim", new { @style = "width:500px" }))
{

    using (Html.BeginForm("AddClaims", "Case", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div id="dailog-content">


        <div class="Modal-header">
            Add New Claim 
        </div>
        <div>

            @Html.Hidden("CaseId", Model.CaseId)
            @*@Html.Label("Inventory", "Inventory", new { @style = "margin-bottom: 8px; font-weight:bold;" })*@
            @Html.DropDownListFor(o=> o.CustomerClaim.Inventroy , Model.InventoryItems.AsEnumerable(), new { @style = "width:100%", required = "required", id = "InventoryItems" })
            @*@Html.TextAreaFor(o => o.CustomerClaim.Inventroy, new { @style = "width:100%", required = "required", id = "InventoryItems" })*@
            @Html.Label("Type", "Type", new { @style = "margin-bottom: 8px; font-weight:bold;" })
            @Html.DropDownListFor(o => o.CustomerClaim.ClaimType, Model.ClaimTypes, new { @style = "width:100%" })

            @Html.Label("", "Upload Image", new { @style = "margin-bottom: 8px; font-weight:bold;" })
            <input type="file" id="file" name="file" style="width: 100%;" />

            @Html.Label("", "Upload Image", new { @style = "margin-bottom: 8px; font-weight:bold;" })
            <input type="file" id="file2" name="file2" style="width: 100%;" />

            @Html.Label("detail", "Details", new { @style = "margin-bottom: 8px; font-weight:bold;" })
            @Html.TextAreaFor(o => o.CustomerClaim.Remarks, new { @style = "width:100%; height:80px; text-align:top; overflow-y:scroll", required = "required" })


        </div>

        <div class="clearfix">
            <div class="end-controls">
                <button type="button" class="btn cancel" title="Cancel" data-dismiss="modal">Cancel </button>

                <input type="submit" class="btn btn-primary" value="Save" id="btnproceed" />


            </div>
        </div>
        <div>
        </div>
    </div>

    }

}


@using (Html.BeginModal("Edit-Claim", "Edit Claim", new { @style = "width:500px" }))
{

    using (Html.BeginForm("UpdateClaim", "Case", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div id="dailog-content-edit">


        <div class="Modal-header">
            Edit Claim 
        </div>
        <div>

            @Html.Hidden("CaseId", Model.CaseId)
            @Html.Hidden("ClaimId", "", new { id = "ClaimId" })
            @Html.Label("Inventory", "Inventory", new { @style = "margin-bottom: 8px; font-weight:bold;" })
            @Html.DropDownListFor(o=> o.CustomerClaim.Inventroy , Model.InventoryItems.AsEnumerable(), new { @style = "width:100%", required = "required", id = "editInventoryItems" })
            @Html.Label("Type", "Type", new { @style = "margin-bottom: 8px; font-weight:bold;" })
            @Html.DropDownListFor(o => o.CustomerClaim.ClaimType, Model.ClaimTypes, new { @style = "width:100%", id = "editClaimType" })
            <label id="InventoryImage1"></label>
            @Html.Label("", "Upload Image", new { @style = "margin-bottom: 8px; font-weight:bold;" })
            <input type="file" id="editfile" name="file" style="width: 100%;" />

            <label id="InventoryImage2"></label>
            @Html.Label("", "Upload Image", new { @style = "margin-bottom: 8px; font-weight:bold;" })
            <input type="file" id="editfile2" name="file2" style="width: 100%;" />

            @Html.Label("detail", "Details", new { @style = "margin-bottom: 8px; font-weight:bold;" })
            @Html.TextAreaFor(o => o.CustomerClaim.Remarks, new { @style = " width:100%; height:80px; text-align:top; overflow-y:scroll", required = "required", id = "editRemarks" })


        </div>

        <div class="clearfix">
            <div class="end-controls">
                <button type="button" class="btn cancel" title="Cancel" data-dismiss="modal">Cancel </button>

                <input type="submit" class="btn btn-primary" value="Update" id="btnupdate" />


            </div>
        </div>
        <div>
        </div>
    </div>

    }

}

<script type="text/javascript">
    (function () {
        var AddNewClaim = {
            dialogs: { AddClaim: "#add-new-claim" },
            init: function () {
                Utility.initBase(this);
                $(".add-claim").click(function () {
                    var dialog = AddNewClaim.dialogs.AddClaim;

                    dialog.modal("show");
                });
            }
        };

        $(function () {
            AddNewClaim.init();
            Case.init();
        });
    })();

</script>
